@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
	border: 0;
	margin: 0;
	box-sizing: border-box;

}

body{
	color: white;
	font-family: 'Oxanium', sans-serif;
	background: url(img/hero-bg.png);
	background-size: cover;
}

main{
	background: url(img/hero-bg.png) repeat;
	background-size: cover;
/*	height: calc(100vh - 80px);*/
}

 img{
 	width: 95%;
}

.logo{
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	color: white;
	font-weight: 600;
	position: relative;
	top: 30px;
	left: 50px;
	width: 40%;
}


nav {
	background-color: #0D0D2B;
	height: 80px;
	width: 100%;

}


nav ul{
	float: right;
	margin-right: 20px;

}

nav ul li{
	display: inline-block;
	line-height: 20px;		
}

nav ul li a {
	color: white;
	font-size: 16px;
	font-family: 'Oxanium', sans-serif;
	padding: 4px;
	margin: 5px;
	text-decoration: none;
}

nav .ul{display: inline-block;}

a.active:hover{
	border-bottom-style: solid;
	border-bottom-color: #3671E9;
	border-bottom-width: 1px;
	transition: .1s;
}

.bluthis{
	color: #0D0D2B;
}

.regi{
	width: 110px;
	height: 40px;
	background-color: #3671E9;
	color: white;
	border-radius: 32px;
	padding: 10px 30px;
	margin-left: 23px;
	border-style: none;
	cursor: pointer;
}
.ul{
	padding-right: 40px;
}

.login_btn{
	border-right-style: solid;
	border-right-color: #FFFFFF33;
	border-right-width: 1px;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 10px;
	margin-right: 40px;
	margin-top: 5px;
	margin-left: 20px;
	cursor: pointer;
	display: none;
	cursor: pointer;
}

#check{
	display: none;
}

@media (max-width: 1000px){
	nav.menu_items{
		font-size: 24px;
	}
}

@media (max-width: 980px){
	.checkbtn{
		display: block;
	}

	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: #26283B;
		top: 80px;
		left: -100%;
		transition: all .5s;
		text-align: center;		
		display: block;
		padding: 12em 3em;

	}

	nav .ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	nav .hide{
		display: none;
	}

	nav ul li{
		display: block;
		margin: 20px 0;
		line-height: 30px;
	}


	nav ul li a{
		font-size: 24px;
		font-family: 'Oxanium' ;
	}

	nav ul li a:hover{
		color: white ;
	}

	nav ul li button{
		font-size: 24px;
		font-family: 'Oxanium' ;
	}
	body nav button.regi{
		padding: 4px 16px;
		width: 130px;
	}

	.bluthis{
		color: #26283B;
		font-size: ;
	}
	#check:checked ~ ul{
		left: 0;
		z-index: 1;
	}


}



.promo{
	border-style: none;
	border-radius: 25px;
	padding: 4px 12px 4px 4px;
	width: 300px;
	height: 32px;
	background-color: #4B5563;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.promo h6{
	display: inline-block;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 400;
	background-color: white;
	padding: 4px 16px;
	color: #9CA3AF;
}

.first_section{
	padding: 2em;
}

.fastest{
	margin: 10px 0;
	height: 188px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.fastest h1{
	font-size: 36px;
}

.fastest button{
	margin-top: 10px;
}


.text_with_btn{
	display: flex;
	flex-direction: column;


}

.middle_men{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}
.chappo{
	padding: 2em 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.chappo_ext{
	height: 70vh;
}

.chappo h2{
	font-size: 36px;
	font-weight: inherit;
	margin-bottom: 20px;
}

.chappo p{
	line-height: 1.625;
	color: #9CA3AF;
	margin-bottom: 20px;
}

.earn{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	height: 140px;

}

.earn h2{
	text-align: center;
	font-weight: 600;
	margin: 10px;
}

.earn h6{
	color: #9CA3AF;
	font-weight: 400;
	font-size: 12px;
	line-height: 1rem;
	text-align: center;
}

.card{
	width: 94%;
	border-color: black;
	border-radius: 1rem; 
	height: 400px;
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin: 1em;
	box-shadow: 0 0.7px 2px 0 rgb(0 0 0 / 0.1);
}

.aaa{
	margin: 6em 1em 2em;
}

.card_one{
	background-color: white;
	justify-content: space-evenly;
}

.card_two{
	background-color: white;
	justify-content: space-evenly;
}

.card_three{
	background-color: white;
	justify-content: space-evenly;
}

.innercard{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.red_in_ic{
	width: 80px;
	height: 80px;
}

.ic_flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.up_font{
	font-size: 32px;
	font-family: 'Oxanium', sans-serif;
	font-weight:700;
	color: black;
}

.spans{
	color: #9CA3AF;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Oxanium';
}

.change_font_color{
	color: black;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}

.btn_upg{
	background-color: white;
	font-size: 2em;
	border-radius: 50%;
	padding: 10px;
	height: 59.12px;
	width: 59.12px;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.top_button{
	padding: 4px 16px;
	font-size: 16px;
	background-color: #2563EB;
	border-radius: 1.5rem;
	height: 40px;
	width: 173.61px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.con_card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-style: none;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em 1em 1em;
}

footer a{
	text-decoration: none;
	color: white;
}

footer a:hover{
	color: grey;
}

.first_img{
	width: 95%;
	height: 60vh;
}

.sec_img{
	width: 90%;
	height: 50vh;
}

.bb_deal{
	margin-left: 24px;
	font-size: 12px;
}

.chnge_font{
	font-size: 12px;
	font-weight: 300;
	color: #D1D5DB;
}

.arr{
	color: #3671E9;
	background-color: white ;
	border-style:none;
	border-radius: 50%;
	height: 24px;
	font-weight: 600;
	width: 24px;
	font-size: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}

.mid_text h3{
	font-size: 24px;
	font-weight: 600;
	color: white;
}

.mid_text h6{
	color: #9CA3AF;
	font-size: 12px;
}

.blur{
	border-radius: 50%;
	background-color: #252540;
	padding: 10px;
	height: 53.12px;
	width: 53.12px;

}

.mid_flex{
	display: flex;
	flex-direction: row;
	width: 260px;
	justify-content: flex-start;

}

.move{
	margin-left: 20px;
}

.chap_btn{	
	padding: 4px 16px;
	background-color: #3B82F6;
	border-radius: 35px;
	color: white;
	font-size: 16px;
}

.first_chap_btn{
	width: 112px;
	height: 44px;
}

.center{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.white{
	background-color: #F9FAFB;
	border-style: none;
}

.black h1{
	color: black;
	font-size: 24px;
	text-align: center;
}

.float{
	position: absolute;
}

.relative{
	position: relative;
	top: -100px;
}

.add_px{
	margin-bottom: 310px;
}

.input_line{
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 5px;
	font-size: 20px;
	color: #0D0D2B;
	font-family: 'Oxanium', sans-serif;
}

.input_line::placeholder{
	color: #0D0D2B;
	font-weight: 300;
}

.white h1{
	color: black;
	font-weight: 600;
	text-align: center;

}

.derelict{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 50%;
}

.whit_marg_top{	
	margin-top: 140px
}

.market{	
	text-align: center;
	padding-top: 3em;
	padding-right:2em ;
	padding-left: 2em;

}
.market h1{
	font-size: 24px;
	font-weight: 400;
}

.mid_tier{
	height: 100%;
}

.invest{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.addd{
	height: 200px;
}

.ad_height{
	padding-bottom
}

.invest h6{
	color: #9CA3AF;
	font-size: 12px;
	font-weight: 400;
}

.lrn_btn{
	width: 92px;
	height: 34px;
	font-family: 'Oxanium';
	font-size: 12px;
	padding: 8px 16px;
	font-weight: 400;
}
.tab_img{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 18px;
}


.tab_img_ext{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.some_margin{
	margin-top: 50px;
}

.mining_card{
	height: 248px;
	border-style: solid;
	border-width: 1px;
	width: 90%;
	border-radius: 20px 5px 5px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2em 1em 1em;
	background: url(img/newsletter-box.png);
	background-position: stretch;
	background-repeat: no-repeat;
	background-size: cover;
}

.mining_card h1{
	font-size: 24px;
}

.mine h6{
	font-weight: 600;
	color: white;
	font-size: 12px;
}

.mining_card input{
	background-color: #3671E9;
	color: white;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);

}

.mining_card input::placeholder{
	color: white;
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Oxanium', sans-serif;
}

.subscribe{
	font-size: 16px;
	padding: 8px 16px;
	color: black;
	width: 104px;
	height: 42px;
	border-radius: 20px;

}

.i_love_flexing{
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.main_sec{
	height: 900px;
}

.crap{
	height: 5%;
}

.centered{
	text-align: center
}

.quick{
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


.resource{
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card_deck_con{
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.quick h3{
	font-size: 20px;
	color: white;

}

.quick h4, .resource h4{
	font-size: 16px;
}

.quick h4,.resource h4{
	color: E0E0E0;
	font-weight: 400;
}

.sys h5{
	font-size: 16px;
	margin-top: 20px;
	font-weight: 400;
	font-family: 'Oxanium', sans-serif;
}

.resize{
	width: 96px;
	height: 64px;
	margin-top: 20px;
;
}

.card_deck{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	grid-gap: 20px;
}

.copyright{
	padding-bottom: 50px;
}

.socials{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 30px;
}

.socials_res{
	width: 18px;
	height: 18px;
}

.socials_ret{
	height: 20px;
	width: 12px;
}


.calculate{
	font-weight: 500;
	margin-top: ;
	padding: 4px 16px;
	background-color: #3B82F6;
	border-radius: 35px;
	color: white;
	font-size: 18px;
	width: 144px;
	height: 45px;
	font-family: 'Oxanium', sans-serif;
}

.text_next{
	font-size: 16px;
	font-weight: 400;
	color: #3B82F6;
}

.next_text{
	font-weight: 700;
	font-size: 32px;
	color: black;
	font-family: 'Oxanium', sans-serif;	
}

.next_span{
	color: #3B82F6;
}

.reve{
	font-size: 16px;
	color: #6B7280;
	font-weight: 400;

}

.marg_adj{
	padding-bottom: 50px;
}


.animate__animated.animate__zoomIn,
.animate__animated.animate__fadeInDown,
.animate__animated.animate__slideInUp,
.animate__animated.animate__slideInLeft,
.animate__animated.animate__fadeInUp{
	--animate-duration: 3.5s;
}

.ln_height{
	line-height: 1rem;
}

.padding{ 
	margin-top: 30px;
}

.pad{ 
	margin-top: 15px;
}


.test{
	width: 100px;
	height: 100px;
	background: url(img/why-ribbon.png);
}

@media (min-width: 1000px){

	main .first_section{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.first_img{
		height: 80%;
		width: 60%;
		margin-left: 200px;
	}

	main .text_with_btn{
		width: 50%;
	}

	main .mid_text{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	main .middle_tier{
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}

	main .chappo_ext{
		width: 50%;
	}

	main .card_one{
		width: 80%;
		height: 300px;
		padding: 10px 50px;


	}
	main .derelict{
		display: flex;
		flex-direction: row;
		height: 10%;
		justify-content: space-between;
	}

	main .sec_three{
		display: flex;
		flex-direction: row;
		padding: 30px 100px;
	}

	.first{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 10px 100px;
		margin-top: 10px;
	}

	.second{
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		padding: 10px 100px;
		margin-top: 10px;
	}

	.third{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 10px 100px;
		margin-top: 10px;
	}

	main .invest{
		padding: 30px;
	}

	.centered{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		height: 50vh;
		padding: 10px 50px;
		align-items: flex-start;

	}

	.quarter{
		width: 20%;
		height: 100%;
	}

	.percentile{
		width: 40%;
		height: 100%;
		position: relative;
		bottom: 60px;
	}
	.crap{
		margin-top: 25px;
	}

	.copyright{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 20px;
		padding: 10px 50px;

	}

	.socials{
		width: 20%;
	}

	.copy{
		width: 40%;
	}

	.market{
		width: 50%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.input{
		width: 40%;
	}

	.input2{
		width: 20%;
	}

	footer a{
		text-decoration: none;
		color: white;
	}

	footer a:hover{
		color: grey;
	}

	section.chappo.white{
		height: 50vh;
	}
	section.con_card.white.marg_adj{
		border-style: none;
	}




}